.about {
    padding: 80px 0;

    @include mobile {
        padding: 40px 0;
    }

    &__desc {
        font-size: 20px;
        line-height: 27.24px;
        margin-bottom: 40px;

        @include mobile {
            font-size: 14px;
            line-height: 19px;
        }
    }

    &__bottom {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @include tablet {
            display: block;
        }
    }
}

.about-stat {
    @include flex;

    @include tablet {
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
    }

    @include mobile {
        font-size: 24px;
        line-height: 27px;
    }

    &__item {
        color: #131010;

        &:not(:last-child) {
            margin-right: 31px;

            @include notebook {
                margin-right: 25px;
            }
        }
    }

    &__count {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 10px;

        @include notebook {
            font-size: 35px;
        }

        @include mobile {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 5px;
        }
    }

    &__text {
        font-weight: 600;
        font-size: 20px;

        @include notebook {
            font-size: 16px;
        }

        @include mobile {
            font-size: 12px;
            line-height: 16px;
        }
    }
}

