.advantages {
    background-color: #131010;
    padding: 80px 0;

    @include mobile {
        padding: 40px 0;
    }

    &__title {
        margin-bottom: 80px;

        @include mobile {
            margin-bottom: 20px;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 83px;

        @include notebook {
            gap: 30px;
        }

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        text-align: center;
    }

    &__icon {
        margin-bottom: 20px;

        @include mobile {
            margin-bottom: 7px;
        }

        svg {
            fill: transparent;
            stroke: #fff;
            stroke-width: 2px;
            width: 67px;
            height: 67px;

            @include mobile {
                width: 40px;
                height: 40px;
            }
        }
    }

    &__text {
        color: #fff;
        font-size: 20px;
        line-height: 27.24px;

        @include mobile {
            font-size: 14px;
            line-height: 19px;
        }
    }
}
