.cooperation {
    padding: 80px 0;

    @include mobile {
        padding: 34px 0;
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 46px 45px;

        @include notebook {
            gap: 30px;
            grid-template-columns: repeat(3, 1fr);
        }

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        border: 1px solid #201A1A;
        padding: 30px;

        @include mobile {
            padding: 15px 20px;
        }

        h4 {
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            margin-bottom: 15px;

            @include mobile {
                margin-bottom: 0;
                font-size: 14px;
                line-height: 19px;
            }
        }
    }

    &__top {
        @include mobile {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
    }

    &__num {
        font-family: Garamond;
        font-size: 48px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 20px;

        @include mobile {
            margin-right: 10px;
            font-size: 30px;
            margin-bottom: 0;
        }
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;

        @include mobile {
            font-size: 14px;
        }
    }
}

