.furniture {
    background-color: #201A1A;
    padding: 80px 0;

    @include tablet {
        padding: 40px 0;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 40px;
        color: #FFFFFF;

        @include mobile {
            font-size: 14px;
            line-height: 28px;
            margin-bottom: 20px;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 33.33px;
        height: 100%;

        @include notebook {
            gap: 20px;
        }

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__img {
        width: 100%;

        img {
            max-width: 100%;
            width: 100%;
            object-fit: cover;

            @include mobile {
                height: 200px;
            }
        }
    }

    &__text {
        padding: 10px 20px;
        background-color: #FFFCF4;
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        display: flex;
        align-items: center;
        flex: 1 1 auto;

        @include notebook {
            padding: 10px;
            font-size: 17px;
            line-height: 23px;
        }
    }
}

