.header {
    background: #131010;

    &__inner {
        @include flex-all-sb;
        padding: 26px 0;

        @include tablet {
            padding: 36px 0 12px 0;
        }
    }

    &__menu {
        @include notebook {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 60%;
            background-color: #131010;
            overflow-y: auto;
            transition: all 0.2s ease-in-out;
            padding: 36px 20px;
            z-index: 3;

            &.active {
                top: 0;
            }
        }
    }

    &__logo {
        img {
            max-width: 100%;
        }

        @include tablet {
            max-width: 120px;
        }

        &--mob {
            display: none;

            @include notebook {
                display: block;
                text-align: center;
                margin-bottom: 30px;
            }

            @include tablet {
                margin: 0 auto 30px;
            }
        }
    }

    &__list {
        @include flex-v-center;

        @include notebook {
            flex-direction: column;
            align-items: center;
        }

        li {
            &:not(:last-child) {
                margin-right: 40px;

                @include notebook {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }

    &__link {
        font-size: 16px;
        line-height: 24px;
        color: #fff;

        &--active {
            font-weight: 700;
        }
    }

    &__contact {
        @include flex-v-center;
        position: relative;
        z-index: 3;
    }

    &__social {
        svg {
            width: 24px;
            height: 24px;
            fill: #fff;
        }
    }

    &__tel {
        span {
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            margin-left: 15px;
    
            @include notebook {
                display: none;
            }
        }

        svg {
            width: 21px;
            height: 21px;
            fill: #fff;
            display: none;
            margin-left: 10px;

            @include notebook {
                display: block;
            }
        }
    }
}

.burger {
    display: none;

    @include notebook {
        display: block;
        width: 18px;
        height: 12px;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        z-index: 10;

        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: #fff;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0px;
            }

            &:nth-child(2),
            &:nth-child(3) {
                top: 7px;
            }

            &:nth-child(4) {
                top: 14px;
            }
        }

        &.active {
            span {
                &:nth-child(1) {
                    width: 0%;
                    left: 50%;
                }

                &:nth-child(2) {
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }

                &:nth-child(4) {
                    width: 0%;
                    left: 50%;
                }
            }
        }
    }
}