.home {
    background: url("../img/home/bg.jpg") center / cover no-repeat;

    &__inner {
        min-height: 100%;
        text-align: center;
        padding: 129px 0 134px 0;

        @include mobile {
            padding: 85px 0 84px 0;
        }
    }

    &__title {
        font-size: 48px;
        color: #fff;
        font-family: Garamond;
        line-height: 64px;
        text-transform: uppercase;
        max-width: 853px;
        margin: 0 auto 60px;

        @include mobile {
            margin-bottom: 20px;
            font-size: 24px;
            line-height: 27px;
        }
    }
}
