.page-home {
    padding: 90px 0 92px 0;

    @include mobile {
        padding: 64px 0;
    }

    &--about {
        background: url("../img/page-home/bg-about.jpg") center / cover no-repeat;
    }

    &--works {
        background: url("../img/page-home/bg-works.jpg") center / cover no-repeat;
        padding-bottom: 80px;

        @include mobile {
            padding-bottom: 39px;
        }
    }

    &--wardrobe {
        background: url("../img/page-home/bg-dressing.jpg") center / cover no-repeat;
        padding-bottom: 55px;

        @include mobile {
            padding: 65px 0 40px;
        }
    }

    &--reviews {
        background: url("../img/page-home/bg-about.jpg") center / cover no-repeat;
        padding: 203px 0;

        @include mobile {
            padding: 50px 0;
        }
    }

    &--contacts {
        background: url("../img/page-home/bg-about.jpg") center / cover no-repeat;
        padding: 203px 0;

        @include mobile {
            padding: 50px 0;
        }
    }

    &__inner {
        text-align: center;
        color: #fff;
        max-width: 922px;
        margin: 0 auto;
    }

    &__title {
        font-family: Garamond;
        font-size: 48px;
        font-weight: 400;
        line-height: 64px;
        text-transform: uppercase;

        @include mobile {
            line-height: 27px;
            font-size: 24px;
        }
    }

    &__desc {
        font-size: 24px;
        font-weight: 400;
        line-height: 50px;
        margin: 25px 0;

        @include mobile {
            font-size: 14px;
            line-height: 19px; 
        }
    }

    &__arrow {
        position: relative;
        animation: arrow 3s infinite ease;
        z-index: 1;

        svg {
            width: 40px;
            height: 40px;
            fill: #fff;

            @include mobile {
                width: 24px;
                height: 24px;
            }
        }
    }
}

@keyframes arrow {
    0% {
        top: 0;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 0;
    }
}