.request {
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        width: 100%;

        @include tablet {
            display: none;
        }
        
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
        }
    }

    .container {
        padding: 0;

        @include tablet {
            padding: 0 15px;
        }
    }
}

.request-form {
    padding: 130px 0px;
    padding-left: 104px;
    max-width: 600px;

    @include tablet {
        max-width: 100%;
        padding: 40px 0;
    }

    &__group {
        margin-bottom: 30px;

        @include mobile {
            margin-bottom: 15px;
        }
    }

    &__label {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        display: block;

        @include mobile {
            font-size: 12px;
            line-height: 19px;
        }
    }

    &__input {
        border: 1px solid #131010;
        display: block;
        width: 100%;
        padding: 10px 5px;
        margin-top: 5px;

        @include mobile {
            padding: 5px;
        }

        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #938F96;

            @include mobile {
                font-size: 12px;
            }
        }
    }

    &__attach {
        padding: 5px 0 15px;

        a {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #938F96;
            background: url("../img/svg/attach.svg") right no-repeat;
            padding-right: 40px;

            @include mobile {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    &__textarea {
        border: 1px solid #131010;
        display: block;
        width: 100%;
        height: 147px;
        resize: none;
        padding: 10px 5px;
        margin-bottom: 30px;

        @include mobile {
            padding: 5px;
            margin-bottom: 15px;
        }

        &::placeholder {
            color: #938F96;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            
            @include mobile {
                font-size: 12px;
            }
        }
    }

    &__checkbox {
        display: block;
    }

    &__btn {
        background-color: #131010;
        color: #FFFCF4;
        margin-top: 30px;

        @include mobile {
            margin-top: 15px;
        }
    }
}

