<section class="about">
    <div class="container">
        <h2 class="about__title section-title">о компании</h2>
        <p class="about__desc">Компания «Kondoor» специализируется на изготовлении мебели из массива ценных пород древесины с 2004 года. Накопленный опыт и современное оборудование позволяют нашей столярной мастерской выполнять индивидуальные авторские заказы, соответствующие европейским стандартам качества.</p>
        <div class="about__bottom">
            <div class="about-stat">
                <div class="about-stat__item">
                    <div class="about-stat__count">19</div>
                    <div class="about-stat__text">лет работы</div>
                </div>
                <div class="about-stat__item">
                    <div class="about-stat__count">3642</div>
                    <div class="about-stat__text">выполненных проекта</div>
                </div>
                <div class="about-stat__item">
                    <div class="about-stat__count">20</div>
                    <div class="about-stat__text">городов России</div>
                </div>
            </div>
            <a href="" class="about__btn btn btn--black">Подробнее о нас</a>
        </div>
    </div>
</section>