<section class="advantages">
    <div class="container">
        <h2 class="advantages__title section-title section-title_w">Ценность деревянных изделий из массива</h2>
        <div class="advantages__inner">
            <div class="advantages__item">
                <div class="advantages__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#ecology"></use>
                    </svg>
                </div>
                <div class="advantages__text">Экологичность и натуральность</div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#lacquer"></use>
                    </svg>
                </div>
                <div class="advantages__text">Возможность использования лаков на водной основе</div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#assembling"></use>
                    </svg>
                </div>
                <div class="advantages__text">Предварительная сборка простота монтажа</div>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#insulation"></use>
                    </svg>
                </div>
                <div class="advantages__text">Повышенная звуко и теплоизоляция</div>
            </div>
        </div>
    </div>
</section>