<section class="articles">
    <div class="container">
        <div class="articles__inner">
            <article class="articles__item">
                <img src="img/articles/img.jpg" alt="" class="articles__img">
                <div class="articles__content">
                    <h3>Заголовок статьи</h3>
                    <p>Vivamus efficitur fermentum est eu ultricies. Donec aliquam porta metus, consequat laoreet nunc venenatis at. Morbi at dui eu mauris laoreet porttitor. Proin a magna vel ex convallis euismod. Suspendisse nec quam quis nunc imperdiet porta vitae eget nibh. Proin ullamcorper efficitur orci, aliquet sollicitudin ipsum vehicula eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                    <a href="">Читать целиком</a>
                </div>
            </article>
            <article class="articles__item">
                <img src="img/articles/img.jpg" alt="" class="articles__img">
                <div class="articles__content">
                    <h3>Заголовок статьи</h3>
                    <p>Vivamus efficitur fermentum est eu ultricies. Donec aliquam porta metus, consequat laoreet nunc venenatis at. Morbi at dui eu mauris laoreet porttitor. Proin a magna vel ex convallis euismod. Suspendisse nec quam quis nunc imperdiet porta vitae eget nibh. Proin ullamcorper efficitur orci, aliquet sollicitudin ipsum vehicula eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                    <a href="">Читать целиком</a>
                </div>
            </article>
            <article class="articles__item">
                <img src="img/articles/img.jpg" alt="" class="articles__img">
                <div class="articles__content">
                    <h3>Заголовок статьи</h3>
                    <p>Vivamus efficitur fermentum est eu ultricies. Donec aliquam porta metus, consequat laoreet nunc venenatis at. Morbi at dui eu mauris laoreet porttitor. Proin a magna vel ex convallis euismod. Suspendisse nec quam quis nunc imperdiet porta vitae eget nibh. Proin ullamcorper efficitur orci, aliquet sollicitudin ipsum vehicula eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                    <a href="">Читать целиком</a>
                </div>
            </article>
            <article class="articles__item">
                <img src="img/articles/img.jpg" alt="" class="articles__img">
                <div class="articles__content">
                    <h3>Заголовок статьи</h3>
                    <p>Vivamus efficitur fermentum est eu ultricies. Donec aliquam porta metus, consequat laoreet nunc venenatis at. Morbi at dui eu mauris laoreet porttitor. Proin a magna vel ex convallis euismod. Suspendisse nec quam quis nunc imperdiet porta vitae eget nibh. Proin ullamcorper efficitur orci, aliquet sollicitudin ipsum vehicula eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                    <a href="">Читать целиком</a>
                </div>
            </article>
            <article class="articles__item">
                <img src="img/articles/img.jpg" alt="" class="articles__img">
                <div class="articles__content">
                    <h3>Заголовок статьи</h3>
                    <p>Vivamus efficitur fermentum est eu ultricies. Donec aliquam porta metus, consequat laoreet nunc venenatis at. Morbi at dui eu mauris laoreet porttitor. Proin a magna vel ex convallis euismod. Suspendisse nec quam quis nunc imperdiet porta vitae eget nibh. Proin ullamcorper efficitur orci, aliquet sollicitudin ipsum vehicula eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                    <a href="">Читать целиком</a>
                </div>
            </article>
        </div>
    </div>
</section>