<section class="contacts-info">
    <div class="container">
        <div class="contacts-info__inner">
            <div class="contacts-info__content">
                <div class="contacts-info__top">
                    <div class="contacts-info__col">
                        <p>Позвоните нам</p>
                        <a class="contacts-info__tel" href="tel:+7 (925) 517-99-71">+7 (925) 517-99-71</a>
                    </div>
                    <div class="contacts-info__col">
                        <p>Напишите нам</p>
                        <a class="contacts-info__email" href="mailto:info@kondoor.ru">info@kondoor.ru</a>
                    </div>
                    <div class="contacts-info__col">
                        <p>Социальные сети</p>
                        <div class="contacts-info__social">
                            <a href="">
                                <svg>
                                    <use xlink:href="img/sprite.svg#tg"></use>
                                </svg>
                            </a>
                            <a href="">
                                <svg>
                                    <use xlink:href="img/sprite.svg#vk"></use>
                                </svg>
                            </a>
                            <a href="">
                                <svg>
                                    <use xlink:href="img/sprite.svg#whatsapp"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="contacts-info__col">
                        <p>Приезжайте к нам</p>
                        <address>Москва, ул. Новорязанская, д26к1, Loft Factory</address>
                    </div>
                </div>
                <div class="contacts-info__bottom">
                    <p>Приезжайте к нам</p>
                    <address>Москва, ул. Новорязанская, д26к1, Loft Factory</address>
                </div>
                <p>Перед визитом в офис убедительная просьба согласовать с нами время Вашего визита по телефону.</p>
            </div>
        </div>
    </div>
    <div class="contacts-info__map">
        <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/kondor/88314617814/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Кондор</a><a href="https://yandex.ru/maps/213/moscow/category/custom_furniture/184107879/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Мебель на заказ в Москве</a><a href="https://yandex.ru/maps/213/moscow/category/kids_furniture/43929590338/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Детская мебель в Москве</a><iframe src="https://yandex.ru/map-widget/v1/?ll=37.674981%2C55.766949&mode=search&oid=88314617814&ol=biz&sll=37.674981%2C55.766947&source=serp_navig&text=kondoor&z=14" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    </div>
</section>