<section class="cooperation">
    <div class="container">
        <h2 class="cooperation__title section-title">Как происходит сотрудничество</h2>
        <div class="cooperation__inner">
            <div class="cooperation__item">
                <div class="cooperation__top">
                    <div class="cooperation__num">01</div>
                    <h4>Выбор изделия</h4>
                </div>
                <p class="cooperation__text">Вы выбираете понравившееся изделие, либо приходите со своим дизайн-проектом или своими идеями</p>
            </div>
            <div class="cooperation__item">
                <div class="cooperation__top">
                    <div class="cooperation__num">02</div>
                    <h4>Заявка</h4>
                </div>
                <p class="cooperation__text">Вы оставляете заявку, прикрепляя ссылки на понравившиеся работы или на Ваш дизайн-проект</p>
            </div>
            <div class="cooperation__item">
                <div class="cooperation__top">
                    <div class="cooperation__num">03</div>
                    <h4>уточнение деталей</h4>
                </div>
                <p class="cooperation__text">Наш менеджер обрабатывает заявку, связывается с Вами для уточнения деталей и консультирует по заказу</p>
            </div>
            <div class="cooperation__item">
                <div class="cooperation__top">
                    <div class="cooperation__num">04</div>
                    <h4>Замеры</h4>
                </div>
                <p class="cooperation__text">На Ваш адрес приезжает замерщик</p>
            </div>
            <div class="cooperation__item">
                <div class="cooperation__top">
                    <div class="cooperation__num">05</div>
                    <h4>Смета и сроки</h4>
                </div>
                <p class="cooperation__text">Мы составляем смету, оговариваются сроки</p>
            </div>
            <div class="cooperation__item">
                <div class="cooperation__top">
                    <div class="cooperation__num">06</div>
                    <h4>Чертежи и материалы</h4>
                </div>
                <p class="cooperation__text">Мы подготавливаем чертежи и согласовываем материалы</p>
            </div>
            <div class="cooperation__item">
                <div class="cooperation__top">
                    <div class="cooperation__num">07</div>
                    <h4>Изготовление изделия</h4>
                </div>
                <p class="cooperation__text">Мы изготавливаем мебель в срок, высылаем фото-видеоотчеты каждого этапа изготовления</p>
            </div>
            <div class="cooperation__item">
                <div class="cooperation__top">
                    <div class="cooperation__num">08</div>
                    <h4>доставка</h4>
                </div>
                <p class="cooperation__text">Мы бережно транспортируем и устанавливаем готовое изделие</p>
            </div>
        </div>
    </div>
</section>