<section class="create">
    <div class="container">
        <h2 class="create__title section-title section-title_w">как создаются наши изделия</h2>
        <div class="create__inner">
            <div class="create__item">
                <div class="create__img">
                    <img src="img/create/img-1.jpg" alt="">
                </div>
                <div class="create__text">Визуализация</div>
            </div>
            <div class="create__item">
                <div class="create__img">
                    <img src="img/create/img-2.jpg" alt="">
                </div>
                <div class="create__text">Чертежи</div>
            </div>
            <div class="create__item">
                <div class="create__img">
                    <img src="img/create/img-3.jpg" alt="">
                </div>
                <div class="create__text">Изготовление изделия</div>
            </div>
            <div class="create__item">
                <div class="create__img">
                    <img src="img/create/img-4.jpg" alt="">
                </div>
                <div class="create__text">Доставка и установка</div>
            </div>
        </div>
    </div>
</section>