<section class="ecology">
    <div class="container">
        <div class="ecology__inner">
            <div class="ecology__row">
                <p class="ecology__desc">Мы работаем только с экологически чистыми материалами</p>
                <div class="ecology__circles">
                    <div class="ecology__circle">
                        <img src="img/ecology/img-1.png" alt="">
                        <p class="ecology__text">Массив дерева твердых пород</p>
                    </div>
                    <div class="ecology__circle">
                        <img src="img/ecology/img-2.png" alt="">
                        <p class="ecology__text">Высокосортная МДФ</p>
                    </div>
                </div>
            </div>
            <div class="ecology__row">
                <p class="ecology__desc">В своих работах мы <span>не используем ЛДСП</span></p>
                <div class="ecology__circles">
                    <div class="ecology__circle">
                        <img src="img/ecology/img-3.png" alt="">
                        <p class="ecology__text">березовая фанера</p>
                    </div>
                    <div class="ecology__circle">
                        <img src="img/ecology/img-4.png" alt="">
                        <p class="ecology__text">шпоны различных пород</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>