<section class="faq">
    <div class="container">
        <h2 class="faq__title section-title section-title_w">Вопросы и ответы</h2>
        <div class="faq__inner">
            <div class="accordion__item">
                <div class="accordion__header">
                    Сколько будет стоить мой заказ?
                    <div class="accordion__icon">
                        <span class="accordion__cross"></span>
                    </div>
                </div>
                <div class="accordion__body">
                  <div class="accordion__content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, voluptatibus fugit nostrum soluta repellendus dicta velit. Quas nesciunt ipsam, provident qui laborum commodi adipisci. Ratione minima porro totam facilis voluptatibus!
                  </div>
                </div>
            </div>
            <div class="accordion__item">
                <div class="accordion__header">
                    Сколько будет стоить мой заказ?
                    <div class="accordion__icon">
                        <span class="accordion__cross"></span>
                    </div>
                </div>
                <div class="accordion__body">
                  <div class="accordion__content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, voluptatibus fugit nostrum soluta repellendus dicta velit. Quas nesciunt ipsam, provident qui laborum commodi adipisci. Ratione minima porro totam facilis voluptatibus!
                  </div>
                </div>
            </div>
            <div class="accordion__item">
                <div class="accordion__header">
                    Сколько будет стоить мой заказ?
                    <div class="accordion__icon">
                        <span class="accordion__cross"></span>
                    </div>
                </div>
                <div class="accordion__body">
                  <div class="accordion__content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, voluptatibus fugit nostrum soluta repellendus dicta velit. Quas nesciunt ipsam, provident qui laborum commodi adipisci. Ratione minima porro totam facilis voluptatibus!
                  </div>
                </div>
            </div>
            <div class="accordion__item">
                <div class="accordion__header">
                    Сколько будет стоить мой заказ?
                    <div class="accordion__icon">
                        <span class="accordion__cross"></span>
                    </div>
                </div>
                <div class="accordion__body">
                  <div class="accordion__content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, voluptatibus fugit nostrum soluta repellendus dicta velit. Quas nesciunt ipsam, provident qui laborum commodi adipisci. Ratione minima porro totam facilis voluptatibus!
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>