<section class="finishing">
    <div class="container">
        <h2 class="finishing__title section-title">варианты отделки</h2>
    </div>
    <div class="finishing__slider swiper">
        <div class="finishing__switches slider-switches">
            <button class="finishing__switch slider-switch finishing__switch--prev">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-prev"></use>
                </svg>
            </button>
            <button class="finishing__switch slider-switch finishing__switch--next">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-next"></use>
                </svg>
            </button>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="finishing__img">
                    <img src="img/finishing/img-1.jpg" alt="">
                </div>
                <div class="finishing__text">декоративная штукатурка</div>
            </div>
            <div class="swiper-slide">
                <div class="finishing__img">
                    <img src="img/finishing/img-2.jpg" alt="">
                </div>
                <div class="finishing__text">Каменный шпон</div>
            </div>
            <div class="swiper-slide">
                <div class="finishing__img">
                    <img src="img/finishing/img-3.jpg" alt="">
                </div>
                <div class="finishing__text">металлизация</div>
            </div>
            <div class="swiper-slide">
                <div class="finishing__img">
                    <img src="img/finishing/img-4.jpg" alt="">
                </div>
                <div class="finishing__text">покраска эмалью</div>
            </div>
            <div class="swiper-slide">
                <div class="finishing__img">
                    <img src="img/finishing/img-5.jpg" alt="">
                </div>
                <div class="finishing__text">каркас из металла</div>
            </div>
        </div>
    </div>
</section>