<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__logo footer__logo--mob">
                <img src="img/header/logo.svg" alt="">
            </div>
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li>
                        <a href="" class="footer__link">Главная</a>
                    </li>
                    <li>
                        <a href="" class="footer__link">О компании</a>
                    </li>
                    <li>
                        <a href="" class="footer__link">Наши работы</a>
                    </li>
                    <li>
                        <a href="" class="footer__link">Отзывы</a>
                    </li>
                    <li>
                        <a href="" class="footer__link">Статьи</a>
                    </li>
                    <li>
                        <a href="" class="footer__link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__logo">
                <img src="img/header/logo.svg" alt="">
            </div>
            <div class="footer__contacts">
                <address class="footer__address">Москва, ул. Новорязанская, д. 26к1, Loft Factory</address>
                <div class="footer__contacts-links">
                    <a href="tel:+7 (925) 517-99-71" class="footer__tel">+7 (925) 517-99-71</a>
                    <a href="mailto:info@kondoor.ru" class="footer__email">info@kondoor.ru</a>
                    <div class="footer__social">
                        <a href="" target="_blank" class="footer__social-link">
                            <svg>
                                <use xlink:href="img/sprite.svg#tg"></use>
                            </svg>
                        </a>
                        <a href="" target="_blank" class="footer__social-link">
                            <svg>
                                <use xlink:href="img/sprite.svg#vk"></use>
                            </svg>
                        </a>
                        <a href="" target="_blank" class="footer__social-link">
                            <svg>
                                <use xlink:href="img/sprite.svg#whatsapp"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__text">Изображение от Freepik</div>
    </div>
</footer>