<section class="furniture">
    <div class="container">
        <h2 class="furniture__title section-title section-title_w">Фурнитура и комплектующие</h2>
        <p class="furniture__subtitle">Применяем самую качественную фурнитуру европейского производства Blum</p>
        <div class="furniture__inner">
            <div class="furniture__item">
                <div class="furniture__img">
                    <img src="img/furniture/img-1.jpg" alt="">
                </div>
                <p class="furniture__text">Системы выдвижения, петли, откидные механизмы ведущих производителей с доводчиками</p>
            </div>
            <div class="furniture__item">
                <div class="furniture__img">
                    <img src="img/furniture/img-2.jpg" alt="">
                </div>
                <p class="furniture__text">Профили для фасадов из металла с петлями-невидимками</p>
            </div>
            <div class="furniture__item">
                <div class="furniture__img">
                    <img src="img/furniture/img-3.jpg" alt="">
                </div>
                <p class="furniture__text">Вставки из нержавеющей стали, латуни, оникса</p>
            </div>
            <div class="furniture__item">
                <div class="furniture__img">
                    <img src="img/furniture/img-4.jpg" alt="">
                </div>
                <p class="furniture__text">Встроенная подсветка</p>
            </div>
        </div>
    </div>
</section>