<section class="page-home page-home--wardrobe lock-padding">
    <div class="container">
        <div class="page-home__inner">
            <h1 class="page-home__title">Гардеробные</h1>
            <p class="page-home__desc">Организованность - ключ к созданию спокойной, свободной от стресса обстановки.
                Наши гардеробные создаются вместе с вами, поэтому место для хранения вещей в вашем доме будет подобрано именно так, как Вы этого хотите.</p>
            <a href="" class="page-home__arrow">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-down"></use>
                </svg>
            </a>
        </div>
    </div>
</section>