<div class="popup" id="popup-1">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close close-popup">
                <svg>
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </a>
            <h2 class="popup__title">Гардеробная комната.</h2>
            <div class="popup__inner">
                <div class="popup__box">
                    <div class="popup__switches slider-switches">
                        <button class="popup__switch slider-switch popup__switch--prev">
                            <svg>
                                <use xlink:href="img/sprite.svg#arrow-prev"></use>
                            </svg>
                        </button>
                        <button class="popup__switch slider-switch popup__switch--next">
                            <svg>
                                <use xlink:href="img/sprite.svg#arrow-next"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="popup__slider swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="popup__img">
                                    <img src="img/popups/img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="popup__img">
                                    <img src="img/popups/img-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="popup__img">
                                    <img src="img/popups/img-1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup__info">
                    <div class="popup__point">
                        <h4>Материалы</h4>
                        <p>МДФ с отделкой под дуб</p>
                    </div>
                    <div class="popup__point">
                        <h4>Фурнитура</h4>
                        <p>Металлические рейки для вешало <br><br> Направляющие в выдвижных ящиках Blum</p>
                    </div>
                    <div class="popup__point">
                        <h4>Особенности</h4>
                        <p>Встроенные световые панели <br><br> Зеркальные панели на выдвижных ящиках</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>