<section class="portfolio">
    <div class="container">
        <div class="portfolio__grid">
            <a href="" class="portfolio__item">
                <div class="portfolio__img">
                    <img src="img/portfolio/img-1.jpg" alt="">
                </div>
                <h3 class="portfolio__caption">Комплексная отделка интерьеров </h3>
                <p class="portfolio__desc">Наши гардеробные создаются вместе с вами, поэтому место для хранения вещей в вашем доме будет подобрано именно так, как Вы этого хотите.</p>
            </a>
            <a href="dressing-rooms.html" class="portfolio__item">
                <div class="portfolio__img">
                    <img src="img/portfolio/img-2.jpg" alt="">
                </div>
                <h3 class="portfolio__caption">Гардеробные</h3>
                <p class="portfolio__desc">Наши гардеробные создаются вместе с вами, поэтому место для хранения вещей в вашем доме будет подобрано именно так, как Вы этого хотите.</p>
            </a>
            <a href="" class="portfolio__item">
                <div class="portfolio__img">
                    <img src="img/portfolio/img-3.jpg" alt="">
                </div>
                <h3 class="portfolio__caption">Кухни</h3>
                <p class="portfolio__desc">Наши гардеробные создаются вместе с вами, поэтому место для хранения вещей в вашем доме будет подобрано именно так, как Вы этого хотите.</p>
            </a>
            <a href="" class="portfolio__item">
                <div class="portfolio__img">
                    <img src="img/portfolio/img-4.jpg" alt="">
                </div>
                <h3 class="portfolio__caption">Стеновые панели</h3>
                <p class="portfolio__desc">Наши гардеробные создаются вместе с вами, поэтому место для хранения вещей в вашем доме будет подобрано именно так, как Вы этого хотите.</p>
            </a>
            <a href="" class="portfolio__item">
                <div class="portfolio__img">
                    <img src="img/portfolio/img-5.jpg" alt="">
                </div>
                <h3 class="portfolio__caption">Детские</h3>
                <p class="portfolio__desc">Наши гардеробные создаются вместе с вами, поэтому место для хранения вещей в вашем доме будет подобрано именно так, как Вы этого хотите.</p>
            </a>
            <a href="" class="portfolio__item">
                <div class="portfolio__img">
                    <img src="img/portfolio/img-6.jpg" alt="">
                </div>
                <h3 class="portfolio__caption">Гостиные</h3>
                <p class="portfolio__desc">Наши гардеробные создаются вместе с вами, поэтому место для хранения вещей в вашем доме будет подобрано именно так, как Вы этого хотите.</p>
            </a>
            <a href="" class="portfolio__item">
                <div class="portfolio__img">
                    <img src="img/portfolio/img-7.jpg" alt="">
                </div>
                <h3 class="portfolio__caption">Мебель в ванные</h3>
                <p class="portfolio__desc">Наши гардеробные создаются вместе с вами, поэтому место для хранения вещей в вашем доме будет подобрано именно так, как Вы этого хотите.</p>
            </a>
            <a href="" class="portfolio__item">
                <div class="portfolio__img">
                    <img src="img/portfolio/img-8.jpg" alt="">
                </div>
                <h3 class="portfolio__caption">Шкафы</h3>
                <p class="portfolio__desc">Наши гардеробные создаются вместе с вами, поэтому место для хранения вещей в вашем доме будет подобрано именно так, как Вы этого хотите.</p>
            </a>
            <a href="" class="portfolio__item">
                <div class="portfolio__img">
                    <img src="img/portfolio/img-9.jpg" alt="">
                </div>
                <h3 class="portfolio__caption">Тумбы и комоды</h3>
                <p class="portfolio__desc">Наши гардеробные создаются вместе с вами, поэтому место для хранения вещей в вашем доме будет подобрано именно так, как Вы этого хотите.</p>
            </a>
            <a href="" class="portfolio__item">
                <div class="portfolio__img">
                    <img src="img/portfolio/img-10.jpg" alt="">
                </div>
                <h3 class="portfolio__caption">Спальни</h3>
                <p class="portfolio__desc">Наши гардеробные создаются вместе с вами, поэтому место для хранения вещей в вашем доме будет подобрано именно так, как Вы этого хотите.</p>
            </a>
            <a href="" class="portfolio__item">
                <div class="portfolio__img">
                    <img src="img/portfolio/img-11.jpg" alt="">
                </div>
                <h3 class="portfolio__caption">Двери и перегородки</h3>
                <p class="portfolio__desc">Наши гардеробные создаются вместе с вами, поэтому место для хранения вещей в вашем доме будет подобрано именно так, как Вы этого хотите.</p>
            </a>
            <a href="" class="portfolio__item">
                <div class="portfolio__img">
                    <img src="img/portfolio/img-12.jpg" alt="">
                </div>
                <h3 class="portfolio__caption">Кабинеты</h3>
                <p class="portfolio__desc">Наши гардеробные создаются вместе с вами, поэтому место для хранения вещей в вашем доме будет подобрано именно так, как Вы этого хотите.</p>
            </a>
        </div>
    </div>
</section>