<section class="request">
    <div class="request__inner">
        <div class="request__img">
            <img src="img/request/img.jpg" alt="">
        </div>
        <div class="container">
            <form action="#" method="post" class="request-form">
                <h2 class="request-form__title section-title">Оставить заявку</h2>
                <div class="request-form__group">
                    <span class="request-form__label">Имя*</span>
                    <input type="text" class="request-form__input" placeholder="Как Вас зовут?">
                </div>
                <div class="request-form__group">
                    <span class="request-form__label">Номер телефона*</span>
                    <input type="text" class="request-form__input" placeholder="Введите Ваш номер телефона">
                </div>
                <span class="request-form__label">Загрузите изображение изделия, ваши наработки или дизайн-проект</span>
                <div class="request-form__attach">
                    <a href="">Прикрепите файлы</a>
                </div>
                <span class="request-form__label">Оставьте комментарий</span>
                <textarea class="request-form__textarea" placeholder="Введите Ваш комментарий"></textarea>
                <label class="custom-checkbox request-form__checkbox">
                    <input type="checkbox" class="custom-checkbox__input">
                    <span class="custom-checkbox__text">Согласен на обработку персональных данных</span>
                </label>
                <button class="request-form__btn btn" type="button">Отправить</button>
            </form>
        </div>
    </div>
</section>