<section class="wardrobe">
    <div class="container">
        <div class="wardrobe__grid">
            <a href="#popup-1" class="wardrobe__img">
                <img src="img/wardrobe/img-1.jpg" alt="">
            </a>
            <a href="" class="wardrobe__img">
                <img src="img/wardrobe/img-2.jpg" alt="">
            </a>
            <a href="" class="wardrobe__img">
                <img src="img/wardrobe/img-3.jpg" alt="">
            </a>
            <a href="" class="wardrobe__img">
                <img src="img/wardrobe/img-4.jpg" alt="">
            </a>
            <a href="" class="wardrobe__img">
                <img src="img/wardrobe/img-5.jpg" alt="">
            </a>
            <a href="" class="wardrobe__img">
                <img src="img/wardrobe/img-6.jpg" alt="">
            </a>
            <a href="" class="wardrobe__img">
                <img src="img/wardrobe/img-7.jpg" alt="">
            </a>
            <a href="" class="wardrobe__img">
                <img src="img/wardrobe/img-8.jpg" alt="">
            </a>
            <a href="" class="wardrobe__img">
                <img src="img/wardrobe/img-9.jpg" alt="">
            </a>
        </div>
    </div>
</section>