<section class="works">
    <div class="container">
        <div class="works__head">
            <h2 class="works__title section-title">Наши работы</h2>
            <a href="" class="works__btn btn btn--black">Посмотреть все работы</a>
        </div>
        <div class="works__box">
            <div class="works__switches slider-switches">
                <button class="works__switch slider-switch works__switch--prev">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-prev"></use>
                    </svg>
                </button>
                <button class="works__switch slider-switch works__switch--next">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-next"></use>
                    </svg>
                </button>
            </div>
            <div class="works__slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide works__slide works__slide--1">
                        <a href="" class="works__item works__item--long">
                            <div class="works__img">
                                <img src="img/works/work-1.jpg" alt="">
                            </div>
                            <div class="works__text">Стеновые панели</div>
                            <img src="img/works/Exclude-2.png" alt="" class="works__increase">
                        </a>
                        <a href="" class="works__item">
                            <div class="works__img">
                                <img src="img/works/work-4.jpg" alt="">
                            </div>
                            <div class="works__text">Спальни</div>
                            <img src="img/works/Exclude.png" alt="" class="works__increase">
                        </a>
                        <a href="" class="works__item">
                            <div class="works__img">
                                <img src="img/works/work-5.jpg" alt="">
                            </div>
                            <div class="works__text">детские комнаты</div>
                            <img src="img/works/Exclude.png" alt="" class="works__increase">
                        </a>
                    </div>
                    <div class="swiper-slide works__slide works__slide--2">
                        <a href="" class="works__item">
                            <div class="works__img">
                                <img src="img/works/work-2.jpg" alt="">
                            </div>
                            <div class="works__text">Гардеродные</div>
                            <img src="img/works/Exclude.png" alt="" class="works__increase">
                        </a>
                        <a href="" class="works__item works__item--high">
                            <div class="works__img">
                                <img src="img/works/work-6.jpg" alt="">
                            </div>
                            <div class="works__text">Шкафы</div>
                            <img src="img/works/Exclude-3.png" alt="" class="works__increase">
                        </a>
                        <a href="" class="works__item">
                            <div class="works__img">
                                <img src="img/works/work-5.jpg" alt="">
                            </div>
                            <div class="works__text">кухонные гарнитуры</div>
                            <img src="img/works/Exclude.png" alt="" class="works__increase">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>